body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
  display: flex;
  justify-content: center;
}
#app {
  width: 300px;
}
input[type='text'] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
}
button {
  padding: 10px;
  color: white;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}
li.done {
  text-decoration: line-through;
  color: #606060;
}

